* {
	margin: 0:
	padding: 0;
	font-family: Ariel, sans-serif;
	font-size: 13px;
}


body {
	height: 100%;
}
/* HEADER CSS */

header {
	padding: 15px;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "navLeft navRight"
}

#navLeft {
	text-align: left;
}

#navRight {
	text-align: right;
}

#navRight img {
	margin-bottom: -5px;
}

#navRight img {
	border-radius: 50%;
}

.grid a {
	padding: 5px;
	text-decoration: none;
	cursor: pointer;
	color: black;
}

.grid a:hover {
	text-decoration: underline;
}

/* MAIN CSS */

main {
	width: 100%
	margin: auto;
}

#logo {
	text-align: center;
	padding-top: 109px;
	padding-bottom: 30px;
}

#form {
	text-align: center;
	padding-bottom: 109px;
}

#search {
	border: rgba(115, 115, 115, .2) 1px solid;
	padding: 3px;
	width: 530px;
	margin: 0 auto 0 auto;
	border-radius: 50px;
	padding-top: 10px;
}

#search:hover {
	border: 1px solid rgba(80, 80, 80, .3);
}

#form #searchbar {
	border: none;
	width: 487px;
	margin-top: -30px;
	overflow-wrap: break-word;
	line-height: 34px;
	height: 34px;
	font-weight: 400;
	font-size: 16px;
	cursor: text;
	margin:-bottom: 15px;
}

#form #searchpic {

}

#form #searchbar:focus {
	outline: none;
}

.button {
	border: none;
	border-radius: 5px;
	padding: 15px;
	background-color: rgba(211, 211, 211, .2);
	margin: 15px 8px 0px 8px;
	color: #737373;
}

.button:hover {
	border: 1px solid rgb(211, 211, 211);
	cursor: pointer;
}

/*FOOTER CSS */


footer {
	background-color: rgba(80, 80, 80, .3);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: auto;
	height: 100px;
}

footer p {
	padding-left: 20px;
	font-size: 16px;
	color: #737373;
}

#footer a {
	font-size: 16px;
	color: #737373;
}



#footer {
	padding: 15px;
	border-top: 1px solid grey;
}



